Repository danielendler/datason: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-docs, mkdocs-strict

sync-docs:
  name: Sync documentation files to docs directory
  entry: python scripts/sync_docs.py
  language: python
  pass_filenames: false
  always_run: false

mkdocs-strict:
  name: MkDocs strict mode check
  entry: mkdocs build --strict --clean
  language: system
  pass_filenames: false

Refactor performance chart step
  .github/workflows/performance.yml
  scripts/generate_performance_chart.py
Due: none

docs: reorganized dsocs and examples - also updated to use the new api
  CHANGELOG.md
  README.md
  docs/CHANGELOG.md
  docs/api/modern-api.md
  docs/features/model-serving/architecture-overview.md
  docs/features/model-serving/index.md
  docs/features/model-serving/production-patterns.md
  examples/README.md
  examples/advanced_ml_examples.py
  examples/advanced_serialization_demo.py
  examples/ai_ml_examples.py
  examples/auto_detection_and_metadata_demo.py
  examples/basic_usage.py
  examples/bidirectional_example.py
  examples/framework_integrations/README.md
  examples/framework_integrations/advanced_bentoml_integration.py
  examples/framework_integrations/bentoml_integration_guide.py
  examples/framework_integrations/django_integration_guide.py
  examples/framework_integrations/fastapi_integration_guide.py
  examples/framework_integrations/mlflow_artifact_tracking.py
  examples/framework_integrations/production_ml_serving_guide.py
  examples/framework_integrations/ray_serve_integration_guide.py
  examples/framework_integrations/seldon_kserve_integration.py
  examples/framework_integrations/streamlit_gradio_integration.py
  examples/pickle_bridge_demo.py
  examples/security_patterns_demo.py
  examples/uuid_pydantic_quickstart.py
  mkdocs.yml
Due: sync-docs, mkdocs-strict

Add optional digital signature utilities
  README.md
  datason/__init__.py
  datason/integrity.py
  docs/PLUGIN_TESTING.md
  docs/integrity.md
  mkdocs.yml
  pyproject.toml
  tests/unit/test_integrity_comprehensive.py
Due: mkdocs-strict

Add JSONL save and load utilities
  datason/__init__.py
  datason/file_io.py
  tests/unit/test_jsonl_save_load.py
Due: none

Security: Fix information exposure through exceptions
  datason/ml_serializers.py
  examples/framework_integrations/django_integration_guide.py
  examples/framework_integrations/production_ml_serving_guide.py
  tests/integration/test_ml_serializers.py
Due: none

Security: Fix remaining information exposure in Django integration
  ML_INTEGRATION_SUMMARY.md
  examples/framework_integrations/django_integration_guide.py
Due: none

chore: remove deo from root
  ML_INTEGRATION_SUMMARY.md
Due: none

fix: Address CodeQL security issues and add comprehensive security tests
  datason/deserializers.py
  tests/unit/test_deserializers_comprehensive.py
Due: none

security: Completely eliminate unsafe pickle deserialization - Replace pickle.loads with safe JSON deserialization, add security warnings for legacy data, maintain backward compatibility
  datason/deserializers.py
  tests/unit/test_deserializers_comprehensive.py
Due: none

security: Fix CodeQL datetime parsing false positive with regex validation
  datason/deserializers.py
  tests/unit/test_deserializers_comprehensive.py
Due: none

security: Fix validation order to prevent CodeQL alert
  datason/deserializers.py
Due: none

Fix sync_docs.py bugs: preserve filename case and avoid overwriting newer docs
  .pre-commit-config.yaml
  docs/community/changelog.md
  scripts/sync_docs.py
Due: mkdocs-strict

Fix mkdocs documentation issues: nav entries, broken links, and examples paths
  docs/api/configuration.md
  docs/features/api-integration.md
  docs/index.md
  mkdocs.yml
Due: mkdocs-strict

Fix integrity module dependency bug and improve test coverage
  datason/integrity.py
  tests/unit/test_integrity_comprehensive.py
Due: none

🔼 Bump version to 0.9.0 [skip ci]
  datason/__init__.py
  pyproject.toml
Due: none

fix(codeql): fix allowed hashing methods, add more docs and examples
  datason/__init__.py
  datason/integrity.py
  docs/integrity.md
  examples/integrity_verification_demo.py
  tests/unit/test_integrity_comprehensive.py
  tests/unit/test_integrity_security.py
Due: mkdocs-strict

feat: add gzip, idenpotentcy cehcks and jsonl json formats
  datason/api.py
  datason/core_new.py
  datason/deserializers_new.py
  docs/CHANGELOG.md
  docs/idempotency-implementation-plan.md
  tests/edge_cases/test_core_edge_cases_new.py
  tests/edge_cases/test_integrity_and_security.py
  tests/integration/test_idempotency_end_to_end.py
  tests/performance/test_idempotency_performance.py
  tests/unit/test_api_comprehensive.py
  tests/unit/test_deserializers_new_comprehensive.py
  tests/unit/test_new_core_comprehensive.py
  tests/unit/test_validation_comprehensive.py
Due: mkdocs-strict

Fix remaining 7 test failures - DataFrame comparison, streaming compression, large array size, and redaction patterns
  datason/api.py
  datason/core_new.py
  datason/validation.py
  tests/unit/test_file_operations_comprehensive.py
Due: none

Fix CI failures: make numpy/pandas imports optional and fix DataFrame comparisons
  tests/unit/test_file_operations_comprehensive.py
Due: none

Fix lazy imports across all test files to support minimal plugin environment
  tests/edge_cases/test_ml_with_real_libraries.py
  tests/integration/test_ultimate_file_operations.py
  tests/unit/test_jsonl_save_load.py
Due: none

Fix API discovery test to match actual API info structure
  tests/unit/test_file_operations_comprehensive.py
Due: none

fix(featue gap): datatime inside pandas were not properly saved
  datason/core_new.py
  datason/validation.py
  tests/integration/test_ultimate_file_operations.py
  tests/unit/test_validation_comprehensive.py
Due: none

fix(featue gap): fix cirsular dependecy check and optional and avoid test if panda is also not there
  datason/core_new.py
  tests/unit/test_file_operations_comprehensive.py
Due: none

fix(featue gap): fix cirsular dependecy check and optional and avoid test if panda is also not there
  datason/core_new.py
  tests/unit/test_new_core_comprehensive.py
Due: none

fix(test): remaming test suite
  datason/core_new.py
  datason/deserializers_new.py
  datason/validation.py
  tests/unit/test_validation_comprehensive.py
Due: none

fix(test): remaming test suite
  tests/unit/test_file_operations_comprehensive.py
Due: none

fix: regression in string optimization test - Updated test_string_optimization_functions to expect security error dict for oversized strings instead of truncated string
  tests/edge_cases/test_advanced_features_boost.py
Due: none

fix: another circular reference security error test - Updated test_simple_circular_reference in test_core_edge_cases_new.py to expect security error dict - Same pattern as other security error fixes
  tests/edge_cases/test_core_edge_cases_new.py
Due: none

fix: address CodeQL security and performance issues - Add ISO 8601 validation, remove unnecessary deepcopy, fix max_depth bypass, fix config modification, fix error message inconsistency
  datason/api.py
  datason/core_new.py
  datason/deserializers_new.py
Due: none

🔼 Bump version to v0.10.0 [skip ci]
  datason/__init__.py
  pyproject.toml
Due: none

docs: update changelog
  CHANGELOG.md
  CONTRIBUTING.md
  docs/community/changelog.md
Due: sync-docs, mkdocs-strict

🔼 Bump version to 0.11.0 [skip ci]
  datason/__init__.py
  pyproject.toml
Due: none

docs: add integrity and file operations updates
  README.md
  docs/api/index.md
  docs/api/integrity.md
  docs/features/index.md
  mkdocs.yml
Due: mkdocs-strict

Increase cache manager coverage
  tests/coverage/test_cache_manager.py
  tests/integration/test_config_and_type_handlers.py
  tests/integration/test_idempotency_end_to_end.py
Due: none

docs: Add comprehensive documentation for JSON drop-in replacement functionality
  CHANGELOG.md
  README.md
  docs/api/core-functions.md
  docs/api/index.md
  docs/api/json-replacement.md
  docs/community/changelog.md
  mkdocs.yml
Due: sync-docs, mkdocs-strict

🔨 Bump version to 0.11.1 [skip ci]
  datason/__init__.py
  pyproject.toml
Due: none

Phase 2 Part 1: deserializers_new.py coverage improvement (21% → 51%) - Added comprehensive TestDeserializeWithTypeMetadata class covering lines 325-679, 107 tests passing
  tests/unit/test_deserializers_new_comprehensive.py
Due: none

Phase 2 Part 2: Added extensive template deserializer and utility function tests - 105 tests with comprehensive coverage
  tests/unit/test_deserializers_new_comprehensive.py
Due: none

🔨 Bump version to 0.11.2 [skip ci]
  datason/__init__.py
  pyproject.toml
Due: none

Path conditions:
  sync-docs: any of: ^(CONTRIBUTING|SECURITY|CHANGELOG)\.md$
  mkdocs-strict: any of: ^(mkdocs\.yml|docs/.*)$
