Repository danielendler/datason: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-docs, mkdocs-strict

sync-docs:
  name: Sync documentation files to docs directory
  entry: python scripts/sync_docs.py
  language: python
  pass_filenames: false
  always_run: false

mkdocs-strict:
  name: MkDocs strict mode check
  entry: mkdocs build --strict --clean
  language: system
  pass_filenames: false

feat: Enhance version and info retrieval tests - Expanded test coverage for get_version and get_info functions, ensuring accurate data types and key validation in returned results.
  tests/unit/test_datetime_utils_enhanced_coverage.py
  tests/unit/test_deserializers_enhanced_coverage.py
  tests/unit/test_init_enhanced_coverage.py
  tests/unit/test_type_handlers_enhanced_coverage.py
  tests/unit/test_utils_enhanced_coverage.py
Due: none

feat: Update module metadata consistency test - Enhanced the test to dynamically retrieve the version from pyproject.toml, ensuring robustness against version changes and improving test reliability.
  tests/unit/test_init_enhanced_coverage.py
Due: none

fix: Update assertion message in deep compare test - Changed Length difference to Length mismatch for clarity in the test results of the deep_compare function.
  tests/unit/test_utils_enhanced_coverage.py
Due: none

feat: Add automated PR performance benchmarking integration
  .github/workflows/pr-performance-check.yml
  docs/BENCHMARK_INTEGRATION.md
Due: mkdocs-strict

feat: Add local benchmark workflow as alternative to external repository
  .github/workflows/pr-performance-check-local.yml
Due: none

docs: Add comprehensive setup guide for PR performance integration
  docs/SETUP_GUIDE.md
Due: mkdocs-strict

feat: add external benchmark integration with comprehensive setup guide
  .github/workflows/pr-performance-check.yml
  docs/EXTERNAL_BENCHMARK_SETUP.md
  mkdocs.yml
Due: mkdocs-strict

fix: resolve workflow dispatch bugs and clean up external benchmark integration
  .github/workflows/pr-performance-check-local.yml
  .github/workflows/pr-performance-check.yml
  docs/SETUP_GUIDE.md
Due: mkdocs-strict

fix: resolve cross-repository artifact download issue
  docs/EXTERNAL_BENCHMARK_SETUP.md
  docs/SETUP_GUIDE.md
Due: mkdocs-strict

fix: align DataSON workflow with datason-benchmarks expectations
  .github/workflows/pr-performance-check.yml
  docs/EXTERNAL_BENCHMARK_SETUP.md
  docs/SETUP_GUIDE.md
Due: mkdocs-strict

🔧 Add debug script for GitHub token permission issues
  scripts/debug_benchmark_token.py
Due: none

🔧 Fix PR auto-trigger and remove debug script
  .github/workflows/pr-performance-check.yml
  scripts/debug_benchmark_token.py
Due: none

🔧 Fix Ruff linter configuration after benchmarks directory removal
  .github/workflows/ci.yml
  codecov.yml
  pyproject.toml
Due: none

🔧 Fix Ruff output format in CI workflow
  .github/workflows/ci.yml
Due: none

feat: comprehensive examples enhancement with modern API integration
  examples/README.md
  examples/framework_integrations/README.md
  examples/framework_integrations/bentoml_integration_guide.py
  examples/framework_integrations/mlflow_artifact_tracking.py
  examples/framework_integrations/ray_serve_integration_guide.py
  examples/framework_integrations/seldon_kserve_integration.py
  examples/framework_integrations/streamlit_gradio_integration.py
Due: none

fix: resolve critical bugs in enhanced examples
  examples/framework_integrations/bentoml_integration_guide.py
  examples/framework_integrations/mlflow_artifact_tracking.py
  examples/framework_integrations/streamlit_gradio_integration.py
Due: none

refactor: replace dumps_json with modern APIs + standard JSON
  examples/framework_integrations/mlflow_artifact_tracking.py
Due: none

feat: enhance BentoML integration guide with comprehensive examples
  examples/framework_integrations/bentoml_integration_guide.py
  examples/framework_integrations/mlflow_artifact_tracking.py
  examples/framework_integrations/ray_serve_integration_guide.py
Due: none

fix:enhance examples after bugs
  examples/framework_integrations/ray_serve_integration_guide.py
  examples/framework_integrations/seldon_kserve_integration.py
Due: none

fix: eliminate double processing in API module and cleanup examples
  datason/api.py
  examples/basic_usage.py
Due: none

fix: achieve full 'eat your own dog food' compliance
  datason/core_new.py
  datason/deserializers_new.py
  examples/advanced_ml_examples.py
  examples/advanced_serialization_demo.py
  examples/ai_ml_examples.py
  examples/auto_detection_and_metadata_demo.py
  examples/chunked_and_template_demo.py
  examples/domain_config_demo.py
  json_usage_analysis.md
  scripts/check_json_imports.py
  scripts/simple_json_check.py
Due: none

Fix API test mocking and improve JSON usage detection
  .pre-commit-config.yaml
  datason/api.py
  scripts/simple_json_check.py
  tests/unit/test_api_comprehensive.py
Due: none

Fix remaining API test mock expectations
  tests/unit/test_api_comprehensive.py
Due: none

Refactor JSON function call detection in check_json_imports.py
  scripts/check_json_imports.py
Due: none

chore: clarify codeowner
  .github/CODEOWNERS
Due: none

Implement `stream_load()` for memory-efficient streaming deserialization
  CHANGELOG.md
  datason/__init__.py
  datason/api.py
  datason/deserializers_new.py
  docs/api/modern-deserialization.md
  docs/community/changelog.md
  examples/streaming_example.py
  scripts/simple_json_check.py
  tests/unit/test_stream_load.py
Due: sync-docs, mkdocs-strict

Refactor deserialization and error handling in DataSON
  datason/api.py
  datason/deserializers_new.py
  datason/json.py
Due: none

Refactor API and deserialization logic for improved performance and clarity
  datason/api.py
  datason/deserializers_new.py
  tests/integration/test_ultimate_file_operations.py
  tests/performance/test_idempotency_performance.py
Due: none

🔼 Bump version to 0.12.0 [skip ci]
  datason/__init__.py
  pyproject.toml
Due: none

feat: add explicit compat mode and docs
  README.md
  datason/__init__.py
  datason/api.py
  datason/json.py
  datason/json/__init__.py
  docs/api/modern-deserialization.md
  docs/api/modern-serialization.md
  docs/two-modes.md
  mkdocs.yml
  scripts/simple_json_check.py
  tests/unit/test_json_parity.py
Due: mkdocs-strict

Generate supported types matrix
  docs/supported-types.md
  mkdocs.yml
  tests/unit/test_supported_types_matrix.py
  tools/__init__.py
  tools/gen_supported_types.py
  tools/mkdocs_hooks.py
Due: mkdocs-strict

test: add compat parity suite
  tests/test_json_compat.py
  tests/unit/test_json_parity.py
Due: none

feat: add rust core scaffolding
  datason/__init__.py
  datason/_rustcore.py
  datason/api.py
  datason/config.py
  pyproject.toml
  rust/Cargo.toml
  rust/src/lib.rs
Due: none

fix: satisfy linter and restore docstring
  datason/__init__.py
  datason/_rustcore.py
  datason/api.py
Due: none

Add profiling helpers and coverage tests
  datason/__init__.py
  datason/_profiling.py
  datason/api.py
  datason/core_new.py
  datason/deserializers_new.py
  tests/unit/test_profiling.py
Due: none

test: cover rust accelerator and config flags
  tests/unit/test_config_comprehensive.py
  tests/unit/test_rust_accelerator.py
Due: none

Optimize profiling contexts and fix lint
  datason/_profiling.py
  tests/unit/test_profiling.py
Due: none

Format profiling module and relax overhead test
  datason/__init__.py
  datason/_profiling.py
  tests/unit/test_profiling.py
Due: none

feat: enhance Rust core implementation with proper security and benchmark integration
  datason/__init__.py
  datason/_rustcore.py
  datason/api.py
  rust/src/lib.rs
  tests/unit/test_rust_accelerator.py
Due: none

Path conditions:
  sync-docs: any of: ^(CONTRIBUTING|SECURITY|CHANGELOG)\.md$
  mkdocs-strict: any of: ^(mkdocs\.yml|docs/.*)$
