Repository danielendler/datason: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-docs, mkdocs-strict

.pre-commit-config.yaml:

# Pre-commit hooks for SerialPy - Core Quality & Security
# See https://pre-commit.com for more information

fail_fast: false
repos:
  # ============================================================================
  # General file quality checks
  # ============================================================================
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: debug-statements
      - id: check-docstring-first

  # ============================================================================
  # Python code quality with Ruff (replaces black, isort, flake8, etc.)
  # ============================================================================
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.12
    hooks:
      # Linter
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        types_or: [python, pyi, jupyter]

      # Formatter (replaces black)
      - id: ruff-format
        types_or: [python, pyi, jupyter]

  # ============================================================================
  # Security scanning
  # ============================================================================
  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.3
    hooks:
      - id: bandit
        args: [-c, pyproject.toml]
        additional_dependencies: ["bandit[toml]"]
        exclude: ^tests/

  # ============================================================================
  # Documentation synchronization
  # ============================================================================
  - repo: local
    hooks:
      - id: sync-docs
        name: Sync documentation files to docs directory
        entry: python scripts/sync_docs.py
        language: python
        files: ^(CONTRIBUTING|SECURITY|CHANGELOG)\.md$
        pass_filenames: false
        always_run: false

      - id: mkdocs-strict
        name: MkDocs strict mode check
        entry: mkdocs build --strict --clean
        language: system
        files: ^(mkdocs\.yml|docs/.*)$
        pass_filenames: false

      # Lightweight coverage check for changed files only
      # Note: Disabled due to pytest not being available in pre-commit environment
      # Use local testing instead: pytest --cov=serialpy
      # - id: coverage-check
      #   name: Check coverage on changed files
      #   entry: python scripts/check_coverage.py
      #   language: python
      #   files: ^serialpy/.*\.py$
      #   pass_filenames: true

# ============================================================================
# CI-specific configuration
# ============================================================================
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit.com hooks
  autofix_prs: true
  autoupdate_schedule: weekly

🔄 Complete GitHub workflow management system - PR templates, auto-merge, release automation, and comprehensive documentation
  .github/pull_request_template.md
  .github/workflows/auto-merge.yml
  .github/workflows/release.yml
  CHANGELOG.md
  docs/CHANGELOG.md
  docs/RELEASE_MANAGEMENT.md
  mkdocs.yml
  scripts/setup_github_labels.py
Due: sync-docs, mkdocs-strict

🏷️ Release v0.1.2: DevOps infrastructure fixes
  .github/workflows/auto-merge.yml
  CHANGELOG.md
  docs/CHANGELOG.md
  pyproject.toml
Due: sync-docs, mkdocs-strict

🔧 Fix auto-merge semver warning - Update to fastify/github-action-merge-dependabot@v3 - Add proper target: patch parameter - Fix 'Semver bump '' is invalid!' warning
  .github/workflows/auto-merge.yml
Due: none

🔧 Test branch protection: Update auto-merge workflow
  .github/workflows/auto-merge.yml
Due: none

🚀 Prepare v0.1.3 release: Fix PyPI publishing workflow - Update version to 0.1.3 - Fix package name references from pyjsonify to serialpy - Ready for PyPI publishing with comprehensive automation
  .github/workflows/publish.yml
  pyproject.toml
Due: none

🚀 BREAKING: Rename package from SerialPy to Datason
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  CHANGELOG.md
  README.md
  datason/__init__.py
  datason/converters.py
  datason/core.py
  datason/data_utils.py
  datason/datetime_utils.py
  datason/deserializers.py
  datason/ml_serializers.py
  datason/serializers.py
  docs/CHANGELOG.md
  pyproject.toml
  tests/test_converters.py
  tests/test_core.py
  tests/test_core_coverage_boost.py
  tests/test_coverage_boost.py
  tests/test_datetime_coverage_boost.py
  tests/test_deserializers.py
  tests/test_edge_cases.py
  tests/test_focused_coverage_boost.py
  tests/test_ml_serializers.py
  tests/test_ml_serializers_coverage_boost.py
  tests/test_optional_dependencies.py
  tests/test_performance.py
  tests/test_security.py
  tests/test_targeted_coverage_boost.py
Due: sync-docs, mkdocs-strict

fix: Optimize CI pipeline and add plugin testing architecture
  .github/workflows/ci-full-matrix.yml.backup
  .github/workflows/ci.yml
  .github/workflows/ruff.yml.backup
  .gitignore
  docs/CI_PERFORMANCE.md
  docs/PIPELINE_AUDIT.md
  docs/PLUGIN_TESTING.md
  mkdocs.yml
  pyproject.toml
  scripts/test-plugin-matrix.sh
  tests/conftest.py
  tests/test_targeted_coverage_boost.py
Due: mkdocs-strict

feat: Add environment-aware security testing with CI/local detection and conservative limits
  tests/conftest.py
  tests/test_security.py
Due: none

refactor: Remove unused import in security tests - Eliminated the import of SecurityError from datason.core in test_security.py to streamline the code and improve clarity.
  tests/test_security.py
Due: none

Add comprehensive diagnostics to debug CI-specific SecurityError import issue
  tests/test_security.py
Due: none

🔖 Release v0.1.4: Enhanced security testing and CI improvements
  CHANGELOG.md
  docs/CHANGELOG.md
  pyproject.toml
Due: sync-docs, mkdocs-strict

🤖 Fix auto-merge: Allow major version updates for Dependabot PRs
  .github/workflows/auto-merge.yml
Due: none

🚀 Setup PyPI trusted publishing with environment protection
  .github/workflows/publish.yml
Due: none

🔧 Fix TestPyPI job: Add pypi environment for trusted publishing
  .github/workflows/publish.yml
Due: none

fix: correct PyPI publishing workflow logic - Change default from TestPyPI to main PyPI - Fix job conditions so unchecked box publishes to PyPI - TestPyPI job only runs when explicitly requested
  .github/workflows/publish.yml
Due: none

feat: introduce configuration system for serialization
  datason/__init__.py
  datason/config.py
  datason/core.py
  datason/type_handlers.py
  examples/advanced_serialization_demo.py
  tests/test_config_and_type_handlers.py
Due: none

feat: add enhanced benchmark suite for comprehensive performance testing
  benchmarks/enhanced_benchmark_suite.py
  docs/BENCHMARKING.md
  docs/ROADMAP.md
  docs/features/advanced-types/index.md
  docs/features/configuration/index.md
  docs/features/index.md
  tests/test_core.py
  tests/test_core_coverage_boost.py
  tests/test_coverage_boost.py
  tests/test_edge_cases.py
  tests/test_focused_coverage_boost.py
  tests/test_ml_serializers.py
  tests/test_optional_dependencies.py
  tests/test_security.py
  tests/test_targeted_coverage_boost.py
Due: mkdocs-strict

fix:Update dates
  CHANGELOG.md
  docs/CHANGELOG.md
  docs/ROADMAP.md
Due: sync-docs, mkdocs-strict

fix: Make release discussion creation optional and non-blocking
  .github/workflows/release.yml
Due: none

fix: Update badges and codecov configuration - Fix codecov badge to use correct repository name, add project name to codecov.yml, improve CI upload settings
  .github/workflows/ci.yml
  README.md
  codecov.yml
Due: none

feat: Add comprehensive Python 3.8+ compatibility testing
  .github/workflows/ci.yml
  README.md
  datason/__init__.py
  scripts/test_python_compatibility.py
Due: none

fix: Resolve CI artifact conflicts and optimize Python version testing strategy
  .github/workflows/ci.yml
  README.md
Due: none

fix: Update Codecov configuration for improved coverage reporting - Adjusted settings to only upload coverage from full test suite and refined notification parameters for faster feedback.
  .github/workflows/ci.yml
  codecov.yml
Due: none

fix:add permisisons to ci workflows
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
  .github/workflows/ruff.yml.backup
Due: none

test: Trigger CI to test codecov upload after permissions fix
  datason/__init__.py
Due: none

fix: Resolve CI linting issues in pickle bridge - remove unused imports, fix import sorting per ruff rules, maintain 92% test coverage
  datason/pickle_bridge.py
  examples/pickle_bridge_demo.py
Due: none

docs: Add comprehensive Pickle Bridge documentation - complete feature guide with security, usage patterns, real-world scenarios, and integration examples for ML teams migrating from pickle workflows
  docs/features/index.md
  docs/features/pickle-bridge/index.md
Due: mkdocs-strict

feat: comprehensive integration feedback analysis and roadmap updates
  docs/INTEGRATION_FEEDBACK_ANALYSIS.md
  docs/ROADMAP_DISCUSSION.md
  docs/ROADMAP_UPDATED.md
Due: mkdocs-strict

chore: bump version to 0.3.0 for pickle bridge release
  pyproject.toml
Due: none

feat: implement priority fixes from integration feedback
  datason/config.py
  datason/core.py
Due: none

chore: bump version to 0.3.1 for priority fixes release
  datason/__init__.py
  pyproject.toml
Due: none

feat: Add comprehensive security test documentation and fix flaky tests
  datason/__init__.py
  datason/config.py
  datason/core.py
  datason/deserializers.py
  datason/pickle_bridge.py
  datason/type_handlers.py
  examples/pickle_bridge_demo.py
  tests/test_auto_detection_and_metadata.py
  tests/test_dataframe_orientation_regression.py
  tests/test_security.py
Due: none

style: Fix code formatting and bandit security warning
  datason/__init__.py
  examples/auto_detection_and_metadata_demo.py
Due: none

fix: Resolve test import issues and ruff configuration inconsistencies
  .github/workflows/ci.yml
  pyproject.toml
  tests/conftest.py
  tests/test_auto_detection_and_metadata.py
  tests/test_benchmarks.py
  tests/test_coverage_boost.py
  tests/test_dataframe_orientation_regression.py
Due: none

Fix invalid Codecov YAML configuration - removed invalid fields, validated with codecov.io/validate
  codecov.yml
Due: none

✨ Add simplified automated version bump workflows
  .github/workflows/bump-major.yml
  .github/workflows/bump-minor.yml
  .github/workflows/bump-patch.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
Due: none

🩹 Bump patch version to 0.3.2
  pyproject.toml
Due: none
