Repository danielendler/datason: changes, and which pre-commit hooks are due for each by the changed paths.
All: sync-docs, mkdocs-strict

sync-docs:
  name: Sync documentation files to docs directory
  entry: python scripts/sync_docs.py
  language: python
  pass_filenames: false
  always_run: false

mkdocs-strict:
  name: MkDocs strict mode check
  entry: mkdocs build --strict --clean
  language: system
  pass_filenames: false

Limit Python 3.13 CI to minimal tests
  .github/workflows/ci.yml
Due: none

docs: add caching benchmark
  benchmarks/README.md
  benchmarks/cache_scope_benchmark.py
  docs/advanced/benchmarks.md
  docs/features/caching/index.md
Due: mkdocs-strict

docs: clarify Python 3.13 status
  README.md
Due: none

Phase 1: Legacy cleanup - remove redundant config presets and add deprecation warnings
  datason/__init__.py
  datason/config.py
  datason/core.py
  datason/deserializers.py
  tests/coverage/test_deserializers_coverage_boost.py
  tests/coverage/test_exception_flows_batch1.py
  tests/coverage/test_exception_flows_batch2.py
  tests/coverage/test_exception_flows_batch3.py
  tests/coverage/test_lazy_imports_and_hotpath.py
  tests/coverage/test_ml_with_real_libraries.py
  tests/coverage/test_template_and_optimization_paths.py
  tests/enhanced_types/test_basic_type_enhancements.py
  tests/enhanced_types/test_numpy_auto_detection.py
  tests/enhanced_types/test_pandas_auto_detection.py
  tests/integration/test_round_trip_serialization.py
  tests/test_configurable_caching.py
Due: none

Apply ruff formatting
  benchmarks/cache_scope_benchmark.py
Due: none

🔨 Bump version to 0.7.5 [skip ci]
  datason/__init__.py
  pyproject.toml
Due: none

docs: split API reference into modular pages
  docs/api/config.md
  docs/api/core.md
  docs/api/index.md
  docs/api/ml.md
  docs/api/redaction.md
  docs/api/utils.md
  mkdocs.yml
Due: mkdocs-strict

feat: phase 1 from cleaning
  tests/integration/test_config_and_type_handlers.py
Due: none

Add Pydantic and Marshmallow integration
  datason/__init__.py
  datason/core.py
  datason/validation.py
  docs/features/pydantic-marshmallow-integration.md
  docs/index.md
  tests/features/test_validation_integration.py
Due: mkdocs-strict

Add Supabase docker setup and CI workflow
  .github/workflows/supabase-e2e.yml
  docker/supabase/.env.example
  docker/supabase/docker-compose.yml
Due: none

Add validation helper tests
  tests/features/test_validation_integration.py
  tests/integration/test_validation_full_round_trip.py
Due: none

Fix ruff linting
  datason/__init__.py
  datason/core.py
  datason/validation.py
  docs/features/pydantic-marshmallow-integration.md
  docs/index.md
  tests/features/test_validation_integration.py
  tests/integration/test_validation_full_round_trip.py
Due: mkdocs-strict

Add Supabase volumes and cache images
  .github/workflows/supabase-e2e.yml
  docker/supabase/README.md
  docker/supabase/reset.sh
  docker/supabase/volumes/api/kong.yml
  docker/supabase/volumes/db/_supabase.sql
  docker/supabase/volumes/db/init/data.sql
  docker/supabase/volumes/db/jwt.sql
  docker/supabase/volumes/db/logs.sql
  docker/supabase/volumes/db/pooler.sql
  docker/supabase/volumes/db/realtime.sql
  docker/supabase/volumes/db/roles.sql
  docker/supabase/volumes/db/webhooks.sql
  docker/supabase/volumes/functions/hello/index.ts
  docker/supabase/volumes/functions/main/index.ts
  docker/supabase/volumes/logs/vector.yml
  docker/supabase/volumes/pooler/pooler.exs
Due: none

Add coverage tests for validation helpers
  tests/coverage/test_validation_helpers_coverage.py
Due: none

Fix ruff import style in validation integration tests
  tests/features/test_validation_integration.py
Due: none

feat: Phase 2 - Complete removal of legacy ML format support
  datason/core.py
  datason/deserializers.py
  datason/type_handlers.py
  docs/CHANGELOG.md
  tests/core/test_edge_cases.py
  tests/coverage/test_enhanced_deserializer_diff.py
  tests/features/test_chunked_streaming.py
  tests/integration/test_config_and_type_handlers.py
  tests/integration/test_template_deserializer.py
Due: mkdocs-strict

docs: add Supabase docker env instructions
  docker/supabase/.env.example
  docker/supabase/README.md
Due: none

Fix formatting for validation coverage tests
  tests/coverage/test_validation_helpers_coverage.py
Due: none

Delete docker/supabase directory
  docker/supabase/.env.example
  docker/supabase/README.md
Due: none

fix: Complete Phase 2 test adaptation for legacy format removal - All 122 originally failing tests now pass
  datason/deserializers.py
  datason/ml_serializers.py
  tests/integration/test_optional_dependencies.py
  tests/integration/test_round_trip_serialization.py
  tests/integration/test_template_deserializer.py
Due: none

🚀 Phase 3: API Modernization & Refactoring Complete - Modern intention-revealing API with progressive complexity disclosure, domain-specific optimizations, and 100% backward compatibility
  PHASE_3_IMPLEMENTATION_SUMMARY.md
  datason/__init__.py
  datason/api.py
  examples/modern_api_demo.py
  tests/test_modern_api.py
Due: none

docs: Restructure API documentation into organized multi-page format
  README.md
  docs/api/chunked-streaming.md
  docs/api/complete-reference.md
  docs/api/configuration.md
  docs/api/core-functions.md
  docs/api/data-privacy.md
  docs/api/enums-constants.md
  docs/api/exceptions.md
  docs/api/index.md
  docs/api/ml-integration.md
  docs/api/modern-api.md
  docs/api/modern-deserialization.md
  docs/api/modern-serialization.md
  docs/api/modern-utilities.md
  docs/api/template-system.md
  docs/api/type-system.md
  docs/api/utilities.md
  docs/index.md
  docs/user-guide/modern-api-guide.md
  docs/user-guide/quick-start.md
  mkdocs.yml
Due: mkdocs-strict

fix: Resolve strict documentation test failures
  datason/api.py
  docs/api/config.md
  docs/api/core.md
  docs/api/ml.md
  docs/api/redaction.md
  docs/api/utils.md
  docs/features/deserialization.md
  docs/features/performance/index.md
  mkdocs.yml
Due: mkdocs-strict

docs: Add comprehensive changelog for v0.8.0 - Phase 1, 2, & 3 API modernization
  CHANGELOG.md
  docs/CHANGELOG.md
  docs/CONTRIBUTING.md
  pyproject.toml
Due: sync-docs, mkdocs-strict

fix: Downgrade version from 0.8.0 to 0.7.5 in pyproject.toml
  pyproject.toml
Due: none

docs: consolidate changelog
  CHANGELOG.md
  docs/CHANGELOG.md
Due: sync-docs, mkdocs-strict

🔼 Bump version to 0.8.0 [skip ci]
  datason/__init__.py
  pyproject.toml
Due: none

Improve package docstrings
  README.md
  datason/__init__.py
Due: none

feat: addiitonal ML librabries
  .github/workflows/ci.yml
  pyproject.toml
  tests/features/test_ml_serializers.py
Due: none

feat: comprehensive test suite for unified ML type handlers with 79% coverage
  tests/test_unified_ml_handlers.py
Due: none

feat: complete migration to unified ML type handlers - 100% ML test success
  datason/ml_type_handlers.py
  deserialization_audit.py
Due: none

feat: Phase 1 coverage improvement - comprehensive test suites with complete linting fixes
  tests/unit/test_converters_comprehensive.py
  tests/unit/test_data_utils_comprehensive.py
  tests/unit/test_serializers_comprehensive.py
  tests/unit/test_validation_comprehensive.py
Due: none

feat: add api and config test coverage
  tests/unit/test_api_comprehensive.py
  tests/unit/test_config_comprehensive.py
Due: none

fix(tests):mprove test suite organization: Quality-focused edge case consolidation
  COVERAGE_ANALYSIS_STRATEGY.md
  COVERAGE_STRATEGY_RESULTS.md
  tests/edge_cases/test_core_edge_cases.py
Due: none

Complete test reorganization: Update CI and documentation for new structure
  .github/workflows/ci.yml
  docs/PLUGIN_TESTING.md
  tests/coverage/test_core_edge_cases.py
Due: mkdocs-strict

Fix CI configuration: Complete update of all test paths from old structure to new organization
  .github/workflows/ci.yml
  docs/CI_PIPELINE_GUIDE.md
  docs/PLUGIN_TESTING.md
  tests/README.md
Due: mkdocs-strict

fix(tests): solve is instance
  datason/validation.py
Due: none

fix(tests): solve is instance
  tests/unit/test_validation_comprehensive.py
Due: none

Exclude benchmark tests from regular CI runs
  tests/integration/test_benchmarks.py
Due: none

Fix test isolation for validation tests to achieve green pipeline
  tests/integration/test_validation_integration.py
Due: none

Path conditions:
  sync-docs: any of: ^(CONTRIBUTING|SECURITY|CHANGELOG)\.md$
  mkdocs-strict: any of: ^(mkdocs\.yml|docs/.*)$
